.portfolio-page {
  position: relative;
  width: 100vw;
  min-width: 1200px;
  height: 100vh;
  background-color: #c00;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-family: 'Bungee', sans-serif;
  overflow: visible;
  padding: 20px 75px 20px 75px;
}

.portfolio-title {
  font-size: 2.5rem;
  margin-bottom: 15px;
  margin-left: 0;
  text-align: left;
  position: absolute;
  top: 20px;
  left: 75px;
}

.repo-list {
  width: calc(100vw - 150px);
  max-width: 1000px;
  position: absolute;
  top: 115px;
  left: 75px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 15px;
  max-height: calc(100vh - 225px);
  overflow-y: auto;
}


.skill-stamp {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: auto;
  z-index: 10;
  pointer-events: none;
}

